@keyframes star {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}
.star {
  animation: star 500ms infinite;
}

.issue-open {
  color: #1a7f37;
}

.issue-closed {
  color: #8250df;
}
